:root {
  --bg-color: #ccc;
  --white-color: #fff;
  --green-color: #0c0;
  --red-color: #c00;
  --blue-color: #00c;
}

.hidden {
  visibility: hidden;
}

body {
  background-color: var(--bg-color);
  align-content: center;
}

.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 250px;
  height: 160px;
  display: block;
  background: gray;
  padding: 1rem;
  text-align: center;
}

#game-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-gap: 5px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.choose-player {
  > p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: var(--white-color);
  }
  > ul {
    margin: 0;
    padding: 0;
    > li {
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      display: inline-block;
      list-style: none;
    }
  }
}

.square-case {
  background-color: var(--green-color);
}

.player-color-b {
  background-color: var(--blue-color);
}
.player-color-a {
  background-color: var(--red-color);
}

.player-1 {
  background-color: var(--blue-color);
}

.player-2 {
  background-color: var(--red-color);
}
